# Editor backup files
*~

#
*.so

# TAG files
TAGS

# Build files
autom4te.cache
Makefile.in
aclocal.m4
build-aux/
config.h.in
configure
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
